.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: #f7f7f7;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: #777b82;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index{
    margin: auto;
    font-size: 18px;
}

.correct {
    background-color: #d4fcdc;  
    border-color: #00b300;  
}

.wrong {
    background-color: #ffcccc;  
    border-color: #ff3333; 
}

.timer {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff4500;  
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

