.scoreboard {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.Score{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;          /* Full height of the viewport */
    position: relative;      /* Needed for positioning child elements */
    padding: 20px;
}

.scoreboard h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.scoreboard p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.scoreboard ul {
    list-style: none;
    padding: 0;
}

.scoreboard li {
    font-size: 16px;
    padding: 5px 0;
}

.scoreboard li.highlight {
    font-weight: bold;
    color: #2b8a3e;
}

h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
