*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient( #a258ff,#3857e9);
}

body{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove default body margin */
  /* background-color: #f0f0f0; Optional: background color for visibility */
  /* background-image: linear-gradient( #a258ff,#3857e9); */
  background-image: linear-gradient(to right, #a258ff, #a258ff, #3857e9);
}

@tailwind base;
@tailwind components;
@tailwind utilities;